.row.text-center
  .small-12.columns
    img(src='http://vignette4.wikia.nocookie.net/deathbattle/images/0/0b/Thor.png/revision/latest?cb=20140504024726')
  h1.text-center Thor
  h3.text-center A more robust Angular template using:
.row
  ul.small-block-grid-2.medium-block-grid-5
    li: img(src='https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png')
    li: img(src='http://www.ocpsoft.org/wp-content/uploads/2013/01/angularjs.png')
    li: img(src='https://blog.codepen.io/wp-content/uploads/2013/09/jade-logo.png')
    li: img(src='https://incident57.com/codekit/images/help/logo-zurb@2x.svg')
    li: img(src='http://ih1.redbubble.net/image.77286395.7042/sticker,375x360.png')
